@import "tailwindcss";
@layer base {
    body {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: var(--text-4xl, 2.25rem);
        font-weight: bold;
        line-height: 1.3;
    }

    h2 {
        font-size: var(--text-3xl, 1.875rem);
        font-weight: bold;
        line-height: 1.3;
    }

    h3 {
        font-size: var(--text-2xl, 1.5rem);
        font-weight: bold;
        line-height: 1.3;
    }

    h4 {
        font-size: var(--text-xl, 1.25rem);
        font-weight: bold;
        line-height: 1.4;
    }

    h5 {
        font-size: var(--text-lg, 1.125rem);
        font-weight: bold;
        line-height: 1.5;
    }

    h6 {
        font-size: var(--text-base, 1rem);
        font-weight: bold;
        line-height: 1.6;
    }

    a {
        color: var(--color-blue-500);
        transition-property: all;
        transition-timing-function: var(
            --tw-ease,
            var(--default-transition-timing-function)
        );
        transition-duration: var(
            --tw-duration,
            var(--default-transition-duration)
        );
    }
    a:hover {
        opacity: 75%;
    }
    button {
        background-color: var(--color-blue-500);
        color: var(--color-white);
        padding: 0.2rem 0.4rem;
        border-radius: 0.3rem;
        transition: all;
        cursor: pointer;
    }
    button:hover {
        opacity: 80%;
    }
    button:active {
        scale: 95%;
    }
    table {
        min-width: 100%;
        overflow: auto;
        background-color: var(--color-white);
        white-space: nowrap;
    }
    table td {
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 2);
        border-style: var(--tw-border-style);
        border-width: 1px;
        border-color: var(--color-gray-100);
    }
    table th {
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 2);
        font-size: var(--text-lg);
        line-height: var(--tw-leading, var(--text-lg--line-height));
        text-transform: capitalize;
        text-align: center;
        background-color: var(--color-white);
        border-style: var(--tw-border-style);
        border-width: 1px;
        border-top-style: var(--tw-border-style);
        border-top-width: 2px;
        border-color: var(--color-gray-100);
    }
}
.btn-transparent {
    background-color: transparent;
    color: var(--foreground);
}

.active-link {
    background-color: var(--color-gray-200);
}
.form-input {
    /* @apply form-input; */
    width: 100%;
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-gray-300);
    border-radius: var(--radius-sm);
}
.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-blue-500);
}
.form-input:disabled{
    color: var(--color-gray-500);
    background-color: var(--color-gray-100);
}
.search-table {
    /* @apply form-input; */
    width: 100%;
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-gray-300);
    border-radius: var(--radius-sm);
}
.search-table:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-blue-500);
}
.search-table:disabled{
    color: var(--color-gray-500);
    background-color: var(--color-gray-100);
}
