@import "tailwindcss";
@layer base {
    body {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: var(--text-4xl, 2.25rem);
        font-weight: bold;
        line-height: 1.3;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: var(--text-3xl, 1.875rem);
        font-weight: bold;
        line-height: 1.3;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: var(--text-2xl, 1.5rem);
        font-weight: bold;
        line-height: 1.3;
        margin-bottom: 0.5rem;
    }

    h4 {
        font-size: var(--text-xl, 1.25rem);
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 0.5rem;
    }

    h5 {
        font-size: var(--text-lg, 1.125rem);
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    h6 {
        font-size: var(--text-base, 1rem);
        font-weight: bold;
        line-height: 1.6;
        margin-bottom: 0.5rem;
    }

    a {
        color: var(--color-blue-500);
        transition-property: all;
        transition-timing-function: var(
            --tw-ease,
            var(--default-transition-timing-function)
        );
        transition-duration: var(
            --tw-duration,
            var(--default-transition-duration)
        );
    }
    a:hover{
        opacity: 75%;
    }
}
